*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

main{
	width: 960px;
	margin: 50px auto;
}
.main-contents{
	float: left;
	width: 300px;
	border: 1px solid #eee;
}
.step{
	float: left;
	background-color: orange;
	color: #fff;
	display: inline-block;
}
.image1{
	width: 280px;
	height: 150px;
	margin: 10px auto 0;
	background-image: url(img4/flow01.png);
	background-size: cover;
	background-position: bottom;
}
.main-texts{
	margin: 0 auto;
	padding: 10px;
}

.main-contents-center{
	float: left;
	width: 300px;
	margin: 0 30px;
	border: 1px solid #eee;
}
.image2{
	width: 280px;
	height: 150px;
	margin: 10px auto 0;
	background-image: url(img4/flow02.png);
	background-size: cover;
	background-position: bottom;
}
.image3{
	width: 280px;
	height: 150px;
	margin: 10px auto 0;
	background-image: url(img4/flow03.png);
	background-size: cover;
	background-position: bottom;
}

@media screen and (max-width: 768px){
	main{
		width: 90%;
		/*padding: 0 10px;*/
	}
	.main-contents{
		float: none;
		width: 90%;
		margin: 0 auto;
	}
	.main-contents-center{
		float: none;
		width: 90%;
		margin: 20px auto;
	}
	.image1{
		width: 95%;
	}
	.image2{
		width: 95%;
	}
	.image3{
		width: 95%;
	}
	.main-texts{
		width: 100%;
		/*padding: 0;*/
		/*margin: 0 10px 10px 10px;*/
	}
}
